<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>new comments</title>
</head>
<body>
<h1>Make new comment</h1>
<form action="/comments" method="post">
    <section>
        <label for="username">Enter username:</label>
        <input type="text" placeholder="username" name="username" id="username">
    </section>
    <section>
    <label for="comment">comment text</label>
        <br>
    <textarea name="" id="comment" cols="30" rows="5" name="comment"></textarea>
        <button type="submit">submit</button>
    </section>
</form>
<a href="/comments">Back to index</a>

</body>
</html>